*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root
{
    --fondo-blanco:#fff;
    --color-destacado:#c00707;
    --fondo-negro:#0f0f0b;
    --fondo-gris:#919191;
    --fondo-gris-a:#efefef;
    --letras-blanco:#fff;
}
/*ENCABEZADO*/
nav
{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: var(--fondo-negro);
    position: sticky;
    z-index: 1;
}
nav .izq
{
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px;
    margin-top: -40px;
}
nav .izq img
{
    cursor: pointer;
    
}
nav .centro
{
    width: 10%;
}
nav .der
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;  
    row-gap: 30px;
}
nav .der .menu ul
{
    display: flex;
    position: relative;
    row-gap: 20px;
    padding: 4px 12px;
}
nav .der .menu a
{
    text-decoration: none;
    color: white;
    padding: 4px 12px;
}
nav .der .menu ul li 
{
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;  
    list-style: none;
    text-align: center;
    border-style:hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 4px 12px;
    
}
nav .der .menu ul li:nth-child(5)
{
    color: #0f0f0b;
    box-shadow:0 0 6px #fff;
    background-color:rgba(255, 255, 255, 0.1);
}
.menu ul li:hover
{
    transition: ease all 0.1s;
    color: #0f0f0b;
    box-shadow:0 0 6px #fff;
    transition: 0.5s;
    background-color:rgba(255, 255, 255, 0.2)
}

.iconos
{
    width: 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 12px;
}
.iconos i
{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.iconos i:hover
{
    transition: ease all 0.1s;
    color: #ffff;
    text-shadow: 0 0 20px #fff;
    transition: 0s;
    padding: 0 2px;
}
.lineas 
{
    width: 100%;
    height: 2px;
    background-color: var(--letras-blanco);
}
.lineas .lineajunior
{
    background-color: var(--color-destacado);
    width:80%;
    height: 2px;
    animation: lineajunior infinite 24s;
}
@keyframes lineajunior
{
    0%,100%{
      transform: translateX(100%);
    }
  
    50% {
      transform: translateX(0%);
    }
}
section
{
    width: 100%;
    height: 100%;
    color: var(--letras-blanco);
    background-color: var(--fondo-negro);
}
section .speaker
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    gap: 80px 30px;
    background-image:url(Participar/horizonte-de-sucre-en-fondo-de-la-acuarela-89373431-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section .speaker .speak-izq
{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-image: url(Participar/fondo\ negro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section .speaker .speak-izq h1
{
    width: 100%;
    height:80px;
    text-shadow: 0 0 10px #fff8;
    margin-left: 0px;
    font-size: 28px;
    padding: 16px 0px;
}
section .speaker .speak-izq p
{
    text-align: justify;
    opacity: 1;
    color: #fff;
}





.voluntarios
{
    width: 100%;
    height: 500px;
    background-color: var(--fondo-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--letras-blanco);
}
.voluntarios h1
{
    width: 100%;
    height:90px;
    text-shadow: 0 0 10px #fff8;
    margin-left: 16px;
    font-size: 28px;
    padding: 18px 0px;
}
.voluntarios form
{
    width: 52%;
    height: 380px;
    background-color: var(--fondo-gris-a);
    color: var(--fondo-negro);
    font-size: 16px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}
.voluntarios form h3
{
    text-align: center;
    margin-top: 30px;
}
.voluntarios form table
{
    border: none;
}
.voluntarios form table tr
{
    padding: 12px;
    font-size: 12px;
    border: none;
    width: 500px;
    height: 20px;
}
.voluntarios form table tr td
{
    border: none;
    background-color: var(--fondo-gris-a);
    border-radius: 10px;
    padding: 10px;
}
.voluntarios form table tr td input
{
    border: none;
    border-radius: 18px;
    background-color: var(--fondo-blanco);
    padding: 10px;
}
.voluntarios form table tr td:hover
{
    border: var(--color-destacado);
}

.voluntarios .boton
{
    width: 120px;
    height: auto;
    display: flex;
    justify-content:start;
    align-items: flex-end;
    position:absolute;
    padding: 20px 0px;
    position: relative;
    margin-top: -30px;
}
.voluntarios .boton button
{
    width: 80px;
    height: 25px;
    cursor: pointer;
    background-color:var(--color-destacado);
    font-size: 0.9em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}
.voluntarios .boton button:hover
{
    background-color:rgba(255, 255, 255, 0.1);
    transition: ease all 0.1s;
    box-shadow: 0 0 10px #0f0f0b;
}
.boton button a
{
    color:var(--letras-blanco);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.boton button a:hover
{
    color:var(--fondo-negro);
}

.pie
{
    width: 100%;
    height: 180px;
    background-image: url();
    background-color: var(--fondo-negro);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -100px;
    padding: 64px 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.pie .suscribite
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie .suscribite .sus-text1 img
{
    width:220px;
    height: auto;
}
.pie .centro
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--letras-blanco);
    line-height: 26px;
    position: relative;
    font-weight:400;
}
.pie .centro p:hover
{
    color:var(--color-destacado);
    font-weight: bolder;
    cursor: pointer;
    transition: 0,2s;
}
.pie .suscribite .sus-text
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--letras-blanco);
    margin-right: 16px;
    line-height: 28px;
}
.pie .suscribite .sus-text p
{
    font-size: 12px;
    letter-spacing: 1px;
}
.pie .suscribite .sus-text .contenedor-email
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 685px;
}
.pie .suscribite .sus-text .contenedor-email input
{
  height: 36px;
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #0f0f0b;
  font-size: 1rem;
}
.pie .suscribite .sus-text .contenedor-email form
{
    position: relative;
    width: 100%;
}
.pie .suscribite .sus-text .contenedor-email .email
{
    min-width: 60px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: var(--fondo-negro);
    outline: none;
    border: none;
}
.pie .suscribite .sus-text .contenedor-email .email i
{
    font-size: 22px;
    color: #fff;
}
.pie .suscribite .sus-text .contenedor-email .email i:hover
{
    cursor: pointer;
    color: var(--color-destacado);
    transition: 0.2s;
}
.pie .redes
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.pie .redes a
{
    list-style: none;
    text-decoration: none;
    color: #0f0f0b;
}
.pie .redes i
{
    background-color: var(--fondo-gris-a);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
}
.pie .redes i:hover
{
    color: var(--color-destacado);
    transition: 0.1s;
}